{% extends './Base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    <h2><strong>Project Team</strong></h2>
    <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Project</th>
              <th>User</th>
              <th>Technology</th>
              {% comment %} <th>Status</th> {% endcomment %}
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            
             {% for team in project_team_list %}
            <tr>
              <td>
               
                <strong>{{team.project.title}}</strong>
              </td>
              <td>{{team.user.username}}</td>
              <td>{{team.project.tech}}</td>
              {% comment %} <td><span class="badge bg-label-primary me-1">Active</span></td> {% endcomment %}
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>

    {% endblock content %}
        
    
</body>
</html>